<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PCR/pr6</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header class="main-header">
            <a href="https://www.sut.ru" class="navbar_logo-link">
                <img class="contact__info-icon" width="200" alt="PP" src="{{url_for('static', filename='sut.svg')}}">
            </a>
            <a href="https://lk.sut.ru/cabinet/?login=yes" class="navbar_logo-link">
                <img class="contact__info-icon" width="75" alt="PP"  src="{{url_for('static', filename='sutlk.svg')}}">
            </a>
            <nav class="navbar">
                <a class="nav__link" href="/pr1/zadanie1" style="color: white">Практика 1</a>
                <a class="nav__link" href="/pr2/zadanie1" style="color: white">Практика 2</a>
                <a class="nav__link" href="/pr3/zadanie1" style="color: white">Практика 3</a>
                <a class="nav__link" href="/pr4/zadanie1" style="color: white">Практика 4</a>
                <a class="nav__link" href="/pr5/zadanie1" style="color: white">Практика 5</a>
                <a class="nav__link active" href="/pr6/zadanie1" style="color: white">Практика 6</a>
                <a class="nav__link" href="/pr7/zadanie1" style="color: white">Практика 7</a>
                <a class="nav__link" href="/pr8/zadanie1" style="color: white">Практика 8</a>
                <a class="nav__link" href="/pr9/zadanie1" style="color: white">Практика 9</a>
            </nav>
            <div class="name">аккаунт: {{ user.login }}</div>
    </header>
    <div class="main-container">
        <aside class="sidebar">
            <div>
                <button class="sidebar-btn" onclick="window.location.href='/'">Главная</button>
                <button id="pr6task1-btn" class="sidebar-btn {% if task_status[26] %}completed{% endif %}">Практика 6</button>
            </div>
            <div class="bottom-div" >
                <a class="nav__linkexit" href="/logout">Выйти из аккаунта</a>
            </div>
        </aside>
        <main class="main-content">
    <div class="form__group">
        <h1>Проверяется преподавателем</h1>
            <textarea class="form__textarea" style="font-size: 20px; max-height: 50px;" rows="5" cols="60" wrap="off" readonly>1. В двух множествах из 10 элементов, заполненных случайными числами от 1 до 99, вычесть из второго множества элементы, не содержащиеся в первом.</textarea>
            <textarea class="form__textarea" style="font-size: 20px; max-height: 80px;" rows="5" cols="60" wrap="off" readonly>2. Список заполнен 100 случайными заглавных и прописных букв английского алфавита. Отсортировать символы обратно алфавитному порядку, одинаковые заглавные и прописные буквы должны находиться друг за другом.</textarea>
            <textarea class="form__textarea" style="font-size: 20px; max-height: 50px;" rows="5" cols="60" wrap="off" readonly>3. Напишите программу, записывающая в словарь числа от 1 до 16 как ключ, а их квадраты как значения ключей.</textarea>
            <textarea class="form__textarea" style="font-size: 20px; max-height: 50px;" rows="5" cols="60" wrap="off" readonly>4. Напишите программу, которая принимает на вход два словаря с информацией о студентах и выводит на экран их объединенный список, сортированный по возрасту.</textarea>
            <textarea class="form__textarea" style="font-size: 20px; max-height: 50px;" rows="5" cols="60" wrap="off" readonly>5. Напишите программу, которая выводит средний возраст всех людей в словаре, содержащем 3 вложенных словаря с персональными данными 3-х разных людей.</textarea>
        <textarea class="form__textarea" style="font-size: 16px; max-height: 20px;" id="code" rows="20" cols="50" wrap="off" placeholder="Вводится преподавателем"></textarea>
        <button class="nav__link--btn" onclick="runCode()">Подтвердить</button>
        <pre class="form__textout" id="output" style="color: white"></pre>
        <pre class="form__textout" id="error" style="color: red;"></pre>
    </div>
</main>
</div>
<script>
    async function runCode() {
        const code = document.getElementById('code').value;

        const response = await fetch('/run', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ code, task_number: 26 })
        });

        const result = await response.json();
        document.getElementById('output').textContent = result.output;
        document.getElementById('error').textContent = result.error;
        if (result.success && result.task_completed) {
            document.getElementById('pr6task1-btn').classList.add('completed');
        }
    }
</script>
</body>
</html>